:root {
    --accent-color-:#2196F3;
    --logo-color-:#000000;
    --text-color-:#212121;
    --dddd-color-: #000000a1;
    --textp-color-: #757575;
    --bebrount-color-: #F5F4FA;
    --ttext-color-: #FFF;
    --buisness-color-: #2F303A;
    --partybeb-color-:#F5F4FA;
}

.body{
    font-family: "Roboto";
    color: var(--bebrount-color-);

}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    outline: 1px solid red;
}

.header{
    padding-top: 24px;
    padding-bottom: 25px;
    
  }
  .header-list{
      display: flex;
      gap: 52px;
  
  }
  
  .header-container{
      display: flex;
      align-items: center;
  
  }
     .header-logo{
      color:var(--logo-color);
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.78px;
  align-items: center;
  margin-right: 93px;
}

  .header-web {
      color: var(--accent-color-);
}

.header-thumb{
    color:var(--textp-color-);
    font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.028px;
  
  
  
  }

  .header-items{
      display: flex;
      align-items: center;
      gap: 50px;
      margin-left: auto;
}
  
.header-avatar{
      color:var(--text-color-);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  
}

.work {
    margin-left: 215px;
    margin-right: 215px;
}



.buisness {
    padding-top: 200px;
    padding-bottom: 200px;
    display: flex;
    background-color: var(--buisness-color-);
    gap:50px ;
    
}

.buisness-title  {
    color: var(--ttext-color-);
    text-align: center;
font-size: 44px;
font-weight: 900;
line-height:1.36;
letter-spacing: 0.2px;
text-transform: uppercase;
width: 696px;
margin-left: auto;
margin-right:auto;
}

.buisness-button { 
    border-radius: 5px;
    color: var(--bebrount-color-);
    background-color: var(--accent-color-);
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height:1.87;
    letter-spacing: 0.96px;
    padding: 10px 32px;
    border: none;
    margin-top: 30px;
    margin-left: 450px;
}

.buisness-button:hover {
    background-color: #2195f34e;
}

.alarm {
    margin-top: 94px;
}

.alarm-subtle {
    font-size: 14px;
    font-weight: 700;
    line-height: 16.41px;
    letter-spacing: 0.03em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-bottom: 10px;
    margin-left: 10px;
}

.alarm-list {
    display: flex;
    justify-content: center;
    /* margin-top: 94px; */
}

.alarm-text {
    color: var(--textp-color-);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    width: 270px;
    margin-right: 30px;
    padding: 10px;
}

.work-title {
    margin-top: 94px;
    margin-bottom: 50px;
    font-size: 36px;
    font-weight: 700;
    line-height: 42.19px;
    letter-spacing: 0.03em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.work-list {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.work-pic {
    width: 370px;
    height: 294px;
}

.work {
    margin-left: 190px;
}

.team-h2 {
    margin-top: 188px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.08px;
}

.team {
    
    background-color: var(--partybeb-color-);
    text-align: center;
    display: flex; 
    margin-bottom: 94px;
}

.team-h3 {
    color: var(--text-color-);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.18;
    letter-spacing: 0.48px;

}

.team-ul {
    display: flex;
    justify-content: center;
    gap: 30px;
    background-color: var(--bebrount-color-);
}

.team-ul-li {
    font-size: 16px;
    font-weight: 500;
    line-height: 18.75px;
    letter-spacing: 0.03em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    border-radius: 0px 0px 4px 4px;
    background-color: var(--ttext-color-);
}

.team-ul-p {
    margin-top: 10px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.18;
    letter-spacing: 0.48px;
    text-align: center;
    color: var(--textp-color-);
}

.logo {
    margin-left: auto;
    font-family: 'Raleway';
    font-size: 26px;
    font-weight: 700;
    line-height: 30.52px;
    letter-spacing: 0.03em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: var(--logo-color);
}

.logo:before {  
    content: 'Web';
    color: var(--accent-color);
    font-family: 'Raleway';
}

.foot {

    background: #2F303A;
}

.foot-logo {
    margin-top: 60px;
    margin-left: 53px;
    font-family: 'Raleway';
    font-size: 26px;
    font-weight: 700;
    line-height: 30.52px;
    letter-spacing: 0.03em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: var(--ttext-color-);
    display: inline-block;
    margin-bottom: 20px;
}

.foot-ul-li-a {
    margin-top: 20px;
    margin-left: 53px;
    color: var(--ttext-color-);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
    padding-bottom: 9px;
    display: inline-block;
}

.foot-ul-li-aa {
    display: inline-block;
    color: rgba(255, 255, 255, 0.60);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
    letter-spacing: 0.42px;
    padding-bottom:9px;
    margin-left: 53px;
}

.foot-ul-li-aa:last-child {
    color: rgba(255, 255, 255, 0.60);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
    letter-spacing: 0.42px;
    padding-bottom: 9px;
    margin-left: 53px;
}

.foot-logo:before {  
    content: 'Web';
    color: #007BFF;
}

.poslyga {
    color: #ffffff;
}

.port-h2 {
    font-size: 18px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0.06em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.buut-ver {
    width: 125px;
    height: 38px;
    top: 174px;
    left: 593px;
    gap: 0px;
    border-radius: 4px 0px 0px 0px;
    opacity: 0px;
    border: none;
}

.buut-ver:hover {
    background: #2196F3;
}

.head {  
    display: flex;   
    justify-content: space-between;   
    align-items: center;   
    padding: 10px 20px;  
    background-color: #f5f5f5;  
    width: 1600px;
    height: 80px;
    flex-shrink: 0;
}  

.header-logo {  
    font-family: 'Raleway';  
    font-size: 26px;  
    font-weight: 700;  
    text-decoration: none;  
    color: black;  
    margin-left: 215px;  
}  

.header-logo:before {  
    content: 'Web';  
    color: #007BFF;   
    font-family: 'Raleway';
}  

.head-nav > ul {  
    display: inline-flex;  
    gap: 30px;   
    list-style: none;  
    margin-left: 93px;  
    padding: 0;  
}