:root {
    --accent-color:#2196F3;
    --logo-color:#000000;
    --text-color:#212121;
    --dddd-color: #000000a1;
}
    .lolokrya
{
    width: 1600px; /* Ширина квадрата */
    height: 600px; /* Высота квадрата */
    background-color: #2F303A; /* Цвет квадрата */
    top: 80px;
    font-size: 64px;
}
main > section > h1 
{
    color: rgb(255, 255, 255);
}
#nya {
    background-color: var(--accent-color); /* Синий цвет */
    color: #ffffff; /* Белый цвет текста */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
#nya:hover {
    background-color: #2195f34e; /* Более тёмный синий при наведении */
}
.logitech {
    color: var(--accent-color);
    font-size: 44px;
}
.lolohacer {
    color: var(--logo-color);
    font-size: 44px;
}
.logitich {
    color: var(--accent-color);
    font-size: 24px;
}
.lolohaker {
    color: var(--logo-color);
    font-size: 24px;
}
.folout {
    color: var(--dddd-color);
}
.possibilities-li {
    font-family: Roboto;
font-size: 14px;
font-weight: 700;
line-height: 16.41px;
letter-spacing: 0.03em;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;

}