:root {
    --accent-color:#2196F3;
    --logo-color:#000000;
    --text-color:#212121;
    --dddd-color: #000000a1;
}
.lolokrya
{
    width: 1600px; /* Ширина квадрата */
    height: 600px; /* Высота квадрата */
    background-color: #2F303A; /* Цвет квадрата */
    top: 80px;
    font-size: 64px;
}
main > section > h1 
{
    color: rgb(255, 255, 255);
}
#nya {
    background-color: var(--accent-color); /* Синий цвет */
    color: #ffffff; /* Белый цвет текста */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
#nya:hover {
    background-color: #2195f34e; /* Более тёмный синий при наведении */
}
.folout {
    color: var(--dddd-color);
}
.possibilities-h3 {
    font-family: Roboto;
font-size: 14px;
font-weight: 700;
line-height: 16.41px;
letter-spacing: 0.03em;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;

}
.possibilities-p {
    font-family: Roboto;
font-size: 14px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.03em;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
}
.work-h2 {
    font-family: Roboto;
font-size: 36px;
font-weight: 700;
line-height: 42.19px;
letter-spacing: 0.03em;
text-align: center;
text-underline-position: from-font;
text-decoration-skip-ink: none;
}
.comandblock {
    font-family: Roboto;
font-size: 36px;
font-weight: 700;
line-height: 42.19px;
letter-spacing: 0.03em;
text-align: center;
text-underline-position: from-font;
text-decoration-skip-ink: none;
}
.comandblock-ul-li {
    font-family: Roboto;
font-size: 16px;
font-weight: 500;
line-height: 18.75px;
letter-spacing: 0.03em;
text-align: center;
text-underline-position: from-font;
text-decoration-skip-ink: none;
}
.comandblock-ul-p {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.75px;
    letter-spacing: 0.03em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}
.wep {
    font-family: Raleway;
font-size: 26px;
font-weight: 700;
line-height: 30.52px;
letter-spacing: 0.03em;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
    color: var(--logo-color);
}
.poslyga {
    color: #ffffff;
}
.port-h2 {
    font-family: Roboto;
font-size: 18px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0.06em;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
}
.buut-ver {
    width: 125px;
    height: 38px;
    top: 174px;
    left: 593px;
    gap: 0px;
    border-radius: 4px 0px 0px 0px;
    opacity: 0px;
    border: none;
}
.buut-ver:hover {
    background: #2196F3;
}