.menu {
    width: 300px;
    height: 100%;
    background-color: $afro-color;
    position: fixed;
    top: 0;
    left: -250px;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 50px;
    &:hover {
        left: 0px;
        transition-delay: 250ms;
        transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
        .menu-title {
            opacity: 0;
        }
    }
}

.menu-list {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.menu-title {
    font-size: 52px;
    font-style: italic;
    font-weight: 900;
    position: absolute;
    top: 40%;
    left : 200px;
    transform: rotate(270deg);
    color: #E7E7E7;
}

.menu-link {
    font-size: 20px;
    font-style: italic;
    font-weight: 900;
    color: $border-color;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    color: $ttext-color;
    &:hover {
        transition-delay: 250ms;
        transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    &::before {
        content: "";
        border: solid 1px $logo-color;
        width: 10px;
        height: 10px;
        background-color: orange;
        display: inline-block;
        margin-right: 5px;
        transform: rotate(45deg);
    }
}
